.last-menu{
  font-size: 14px;
}

.folders{
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px;
  .file-name{
    font-size: 10px;
  }

}

.manager {
   height: 125px;
   padding-top: 10px;
	img {
 
	}
}