<app-modal-basic #modalLarge [dialogClass]="'modal-lg'" *ngIf="addModalLarge" class="largeModalCustom">
  <div class="app-modal-header">
    <h4 class="modal-title">Add Section</h4>
    <button type="button" class="close basic-close" (click)="modalLarge.hide()">
      <span aria-hidden="true" class="cross">&times;</span>
    </button>
  </div>
  <div class="app-modal-body for_width" *ngIf="!sectionDataLoading">
    <form [formGroup]="sectionForm" (ngSubmit)="submit()" autocomplete="off">
      <div class="row">

        <div class="col-md-12">

          <div class="desc_class">
            <span class="bold">Description:</span>
            <span><textarea type="text" class="form-control" formControlName="description_1"></textarea></span>
            <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.description_1 }}</p>
          </div>

          <div class="desc_class">
            <span class="bold">Sub Button 1 Text:</span>
            <span><input type="text" class="form-control" formControlName="button_1_text"></span>
            <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.button_1_text }}</p>
          </div>

          <div class="desc_class">
            <span class="bold">Sub Button 1 Url:</span>
            <span><input type="text" class="form-control" formControlName="button_1_url"></span>
            <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.button_1_url }}</p>
          </div>

        </div>

      </div>


      <div class="follow_class">
        <button type="submit" class="submit" [disabled]="formProcessing">
          <i class="fa fa-spin fa-spinner" *ngIf="formProcessing"></i>
          Save
        </button>
      </div>

    </form>
    <!-- <h5>Large Modal</h5>
    <p>This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p> -->
  </div>

  <div class="app-modal-body for_width" *ngIf="sectionDataLoading">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </div>

  <div class="app-modal-footer">
    <button type="button" class="btn btn-default ripple" (click)="modalLarge.hide()">Close</button>
    <button type="button" class="btn btn-primary ripple light">Save changes</button>
  </div>
</app-modal-basic>