
<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <form class="md-float-material form-material" [formGroup]="forgotForm" (ngSubmit)="submit()" autocomplete="off">
          <div class="text-center">
            <!--<img src="assets/images/logo.png" alt="logo.png">-->
            <!--            <h3 class="text-white">Life Skills Student Portal</h3>-->
          </div>
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">

                  <div class="login_img"><img src="assets/images/logo.png" width="158"/></div>
                  <h3 class="text-center page-heading">Admin Forgot Password</h3>
                </div>
              </div>

              <!-- Alert Message -->
              <div class="row" *ngIf="respMessage">
                <div class="col-md-12 text-center">
                  <div class="alert alert-{{ respMessageType }}">
                    <p class="mb-0">{{ respMessage }}</p>
                  </div>
                </div>
              </div>

              <div class="form-group form-primary">
                <input id="username" type="text" name="username" class="form-control custom_styling" required="" formControlName="username">
                <span class="form-bar"></span>
                <label class="float-label" for="username">Username</label>
              </div>

              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block text-center ripple light custom_color" [disabled]="!forgotForm.valid || formProcessing">
                    <i class="fa fa-spinner fa-spin" *ngIf="formProcessing"></i>
                    Reset Password
                  </button>
                  <!--<span class="m-t-5 m-b-10 forgot-text">Forgot Password?</span>-->
                  <span class="m-t-5 m-b-10 forgot-text"> <a routerLink="/login" class="sign_up">Login</a></span>
                  <br>
                  <span class="m-t-5 m-b-10 forgot-text"> <a routerLink="/forgot-username" class="sign_up">Forgot Username</a></span>

                </div>
              </div>

              <!--<div class="row m-t-30 m-b-10">-->
              <!--<div class="col-md-12" style="text-align: center;">-->
              <!--<span><a href="http://instructor.lifeskillsegypt.com/login" class="sign_up">I'm a instructor</a></span>-->
              <!--</div>-->
              <!--</div>-->

            </div>
          </div>
        </form>
        <!-- end of form -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
