.login_img {
  text-align: center;
  margin: 0 0 15px;

}
.card .card-block {
  padding: 10px 30px;
}
body[themebg-pattern="theme1"] {
  background-color: transparent !important;
}
.form-material .float-label {
  left: 15px !important;
}
.custom_styling{
  background: #fff !important;
}
.card-block{
  background: #f1f1f1 !important;
}
.custom_color{
  background: #12b6e9 !important;
  border: 1px solid #12b6e9 !important;
}
.card{
  box-shadow: none !important;
}
a.sign_up {
  color: #007bff;
  font-weight: bold;
}
.forgot-text {
  float: right;
  color: #27acf9;
  font-size: 12px;
}


.forgot-text1 {
  float: left;
}