.login-block {
  margin-top: 0;
  .card-block {
    padding: 30px;

    .page-heading {
      margin-top: 26px;
      margin-bottom: 0;
      color: #4ec4eb;
    }
  }
}
.login_img {
  text-align: center;
  margin: 0 0 15px;

}

body[themebg-pattern="theme1"] {
  background-color: transparent !important;
}
.form-material .float-label {
  left: 15px !important;
}
.custom_styling{
  background: #fff !important;
}
.card-block{
  background: #f1f1f1 !important;
}
.custom_color{
  background: #12b6e9 !important;
  border: 1px solid #12b6e9 !important;
}
.card{
  box-shadow: none !important;
}
a.sign_up {
  color: #e31c84;
  font-weight: bold;
}
.forgot-text {
  float: right;
  color: #27acf9;
  font-size: 12px;
}

.signup-text {
  float: right;
  font-size: 12px;
  a {
    color: #27acf9;
    font-size: 12px;
    font-weight: normal;
  }
}

.form-material {
  .form-control{
    padding-left:15px !important;
  }
  .form-primary {
    .form-control:focus ~ .form-bar:after, .form-control:focus ~ .form-bar:before {
      background: #27acf9;
    }
    .form-control:focus ~ label {
      color: #e1047a;
    }
  }
}
