<div class="row">
  <div class="col-md-12 col-xl-12 mt-3">
    <div class="sub-title">{{title}}</div>
    <ngb-tabset>
      <ngb-tab title="Banners">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            <app-more-from-us-banners></app-more-from-us-banners>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Sections">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            <app-more-from-us-sections></app-more-from-us-sections>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
