<div class="row">
  <div class="col-md-12">
    <!-- Basic Form Inputs card start -->
    <app-card [title]="['Change Password']" [cardOptionBlock]="true">
      <form [formGroup]="changePasswordForm" (ngSubmit)="submit()" autocomplete="off" *ngIf="!loading">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label" for="current_password">Current Password <span class="text-danger">*</span></label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="current_password" formControlName="current_password">
                <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.current_password }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label" for="new_password">New Password <span class="text-danger">*</span></label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="new_password" formControlName="new_password">
                <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.new_password }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label" for="confirm_password">Confirm New Password <span class="text-danger">*</span></label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="confirm_password" formControlName="confirm_password">
                <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.confirm_password }}</p>
              </div>
            </div>
          </div>
        </div>

        <h4 class="sub-title"></h4>

        <div class="row justify-content-center">
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block ripple light" [disabled]="formProcessing || !changePasswordForm.valid">
              <i class="fa fa-spin fa-spinner" *ngIf="formProcessing"></i>
              Submit
            </button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-inverse btn-block ripple light" (click)="goBackList()" [disabled]="formProcessing">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
