
<div class="row outer_style" style="">
  <div class="col-md-12 col-lg-12">
    <form [formGroup]="registerForm" (ngSubmit)="submit()" autocomplete="off" *ngIf="!loading">

      <div class="">
        <div class="col-md-12 ques top_row">
          <h1>Sign Up</h1>
        </div>
      </div>
      <div class="roww">
        <div class="col-md-12 col-lg-12"><h1 class="headingg">Name</h1></div>
        <div class="col-md-4 col-lg-4 p-t-0 p-b-2 p-r-20 p-l-20">
          <div class="form-group form-primary">
            <input id="first_name" type="text" class="form-control custom_styling" placeholder="First Name" formControlName="first_name">
            <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.first_name }}</p>
            <span class="form-bar"></span>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 p-t-0 p-b-2 p-r-20 p-l-20">
          <div class="form-group form-primary">
            <input id="last_name" type="text" class="form-control custom_styling" placeholder="Last Name" formControlName="last_name">
            <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.last_name }}</p>
            <span class="form-bar"></span>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 p-t-0 p-b-2 p-r-20 p-l-20"></div>
      </div>

      <div class="roww">
        <div class="col-md-12 col-lg-12"><h1 class="headingg">Login</h1></div>
        <div class="col-md-4 col-lg-4 p-t-0 p-b-2 p-r-20 p-l-20">
          <div class="form-group form-primary">
            <input id="user_name" type="text" class="form-control custom_styling" placeholder="Username" formControlName="user_name">
            <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.user_name }}</p>
            <span class="form-bar"></span>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 p-t-0 p-b-2 p-r-20 p-l-20">
          <div class="form-group form-primary">
            <input id="password" type="password" class="form-control custom_styling" placeholder="Password" formControlName="password">
            <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.password }}</p>
            <span class="form-bar"></span>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 p-t-0 p-b-2 p-r-20 p-l-20">
          <div class="form-group form-primary">
            <input id="confirm_password" type="password" class="form-control custom_styling" placeholder="Confirm Password" formControlName="confirm_password">
            <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.confirm_password }}</p>
            <span class="form-bar"></span>
          </div>
        </div>
      </div>

      <div class="roww">
        <div class="col-md-12 col-lg-12"><h1 class="headingg">Contact</h1></div>
        <div class="col-md-4 col-lg-4 p-t-0 p-b-2 p-r-20 p-l-20">
          <div class="form-group form-primary">
            <input id="email" type="text" class="form-control custom_styling" placeholder="Email" formControlName="email">
            <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.email }}</p>
            <span class="form-bar"></span>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 p-t-0 p-b-2 p-r-20 p-l-20">
          <div class="form-group form-primary">
            <input id="confirm_email" type="text" class="form-control custom_styling" placeholder="Confirm Email" formControlName="confirm_email">
            <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.confirm_email }}</p>
            <span class="form-bar"></span>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 p-t-0 p-b-2 p-r-20 p-l-20"></div>
      </div>

      <div class="roww">
        <div class="col-md-12 col-lg-12"><h1 class="headingg">Location</h1></div>
        <div class="col-md-4 col-lg-4 p-t-0 p-b-2 p-r-20 p-l-20">
          <label class="float-label" >State/Province</label>
          <div class="form-group form-primary">
            <input id="state" type="text" class="form-control custom_styling" placeholder="State" formControlName="state">
            <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.state }}</p>
            <span class="form-bar"></span>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 p-t-0 p-b-2 p-r-20 p-l-20">
          <label class="float-label" >Country</label>
          <div class="form-group form-primary">
            <ng-select [ngClass]="'ng-select'" [options]="countries" formControlName="country" id="country"> </ng-select>
            <p class="text-danger" *ngIf="validationErrors">{{ validationErrors.country }}</p>
            <span class="form-bar"></span>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 p-t-0 p-b-2 p-r-20 p-l-20"></div>

        <div class="col-md-12 ques top_row">
          <button type="submit" class="btn btn-primary btn-md btn-block text-center ripple light custom_color" [disabled]="formProcessing">
            <i class="fa fa-spinner fa-spin" *ngIf="formProcessing"></i>
            Submit
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
